name: CI Build & Push

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [gateway, pedidos, pagamentos, estoque]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Qemu
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Lint (simulado)
        run: |
          echo "Linting ${{ matrix.service }}"
          cd src/${{ matrix.service }} || exit 1
          npm ci
          npm run lint

      - name: Login to registry
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ./src/${{ matrix.service }}
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/loja-veloz-${{ matrix.service }}:latest
